[2022-08-24 20:57] LucilleH opened #2 "Allow overwrites on install, build and start command"
Right now `devbox plan` does automatic language detection and sets the install, build and start commands. But it only supports Golang for now.

I'd like to try it on a python project and build a container with it. Would love to see those three fields being exposed in `devbox.json` so someone can go ahead and modify them. Thoughts?

[2022-08-26 01:16] gutenye opened #3 "mktemp: too few X's in template ‘devbox"
Steps to reproduce on macOS

[code]

[2022-08-26 01:17] jpbassalot opened #4 "devbox init returns an error on MacOS Monterey"
devbox init returns the following error on my macos monterey machine:

[code]

[2022-08-26 01:23] loreto commented on #3
@gutenye Thanks for reporting ... which version of MacOS are you running so I can try to reproduce?

[2022-08-26 01:24] loreto commented on #4
@jpbassalot Thanks for reporting, looking into it

[2022-08-26 01:25] gutenye commented on #3
macOS Monterey 12.3.1

[2022-08-26 01:26] NicGrimpe commented on #3
I have the same issue running linux. (5.19.3-arch1-1)

[2022-08-26 01:27] bketelsen opened #5 "devbox shell wrapper fails when mktemp is installed in nix profile"
On an M1 mac with nix, my nix profile already has `mktemp` installed. The devbox shell wrapper is assuming the non-gnu version of `mktemp`, and fails with the cryptic error:

[code]
Google led me to a [stackexchange answer](https://apple.stackexchange.com/questions/387136/updatedb-error-mktemp-too-few-xs-in-template-updatedb) that seems to be relevant.

I messed with the devbox shell script to try

[2022-08-26 01:28] NicGrimpe commented on #3
It's a little different actually

/usr/local/bin/devbox: line 225: arch: readonly variable
mktemp: too few X's in template ‘devbox’
→ Downloading version 0.0.2...
✘ Command failed (exit code 22): curl --fail --silent --location --output /devbox_0.0.2_linux_.tar.gz https://github.com/jetpack-io/devbox/releases/download/0.0.2/devbox_0.0.2_linux_.tar.gz

[2022-08-26 01:29] loreto commented on #5
Thanks @bketelsen, looking into it. Will report when fixed!

[2022-08-26 01:30] bketelsen commented on #5
sweet! can't wait to ease some of the nix pain with a helpful wrapper.

[2022-08-26 01:33] vladkosarev commented on #5
I got a similar error in Void Linux running in WSL2
[code]

[2022-08-26 01:57] loreto commented on #5
@bketelsen @vladkosarev I believe this should be fixed now. Could you try re-installing with:

[code]

And seeing if it works now?

[2022-08-26 01:58] loreto commented on #4
@jpbassalot I believe this should be fixed now. Could you try re-installing with:

[code]

And seeing if it works now?

[2022-08-26 01:59] loreto commented on #3
@gutenye @NicGrimpe I believe this should be fixed now. Could you try re-installing with:

[code]

And seeing if it works now?

[2022-08-26 02:25] knuckolls opened #6 "docs fix idea: example of devbox.json"
Just spent time reviewing this. I expected to be able to see what a devbox.json file looks like.

I found this:

I can do this, but it seems like the docs should have an example devbox.json front and center since that's the artifact people work with.

Hope this helps! Cool idea. :)

[2022-08-26 02:26] loreto opened #7 "First call to `devbox shell` can take a while"
And there's no progress bar or other indication of progress which makes users think it's stuck.

[2022-08-26 02:28] loreto commented on #6
@knuckolls Thanks for the suggestion. Agreed! I'll have the README updated by tomorrow.

[2022-08-26 02:34] NicGrimpe commented on #3
It now works for me! :rocket:

[2022-08-26 02:36] datashaman commented on #7
I've tried installing various tools. As you say, it just hangs there. Is it doing anything? There are no options for debugging or logging on the CLI. It _appears_ not to work at all.

[2022-08-26 02:40] loreto commented on #7
It is installing, and it will complete... the first time nix run takes a while because it installs a bunch of dependencies for the first time.

We'll address by giving an idea of progress in the terminal.

[2022-08-26 02:44] jpbassalot commented on #4
It's working now, thanks @loreto

[2022-08-26 02:50] #4 closed

[2022-08-26 02:51] #3 closed

[2022-08-26 02:52] loreto commented on #5
Closing since it's now working for other users that reported similar issues, but feel free to reopen if you run into it again.

[2022-08-26 02:52] #5 closed

[2022-08-26 03:45] crisdosyago opened #8 "Feature Request: support building containers for nodejs apps"
Just a question. Understand if you're not planning this.

Cool looking project!

[2022-08-26 03:51] loreto opened #9 "Nested `devbox shell` calls should issue a warning"
After starting a shell with `devbox shell` it's easy to forget that you're already inside a devbox, and you might end up calling `devbox shell` again. Devbox should detect that it's already controlling the shell and issue a warning.

[2022-08-26 03:54] loreto opened #10 "Better error message when `nix` is not installed"
Nix is a pre-requisite to using devbox. When missing or not installed properly, `devbox add` fails with:
[code]

Which makes it sound like the package does not exist. Improve error message to explain that nix should be installed.

[2022-08-26 04:10] loreto commented on #6
Example `devbox.json` now included in the README!

[2022-08-26 04:10] #6 closed

[2022-08-26 04:12] BryanEddy5 opened #11 "Feature request to support .Net"
Awesome project. I’d love to leverage it with .Net 6.

[2022-08-26 05:23] jinfagang opened #13 "what's difference compare with docker"
hi, devbox looks awesome. but any behind principle explnation of it?

[2022-08-26 05:29] orowith2os opened #14 "Implement Podman support"
Podman can be used as a (rootless and rootfull) drop-in replacement for Docker. Some users would like to take advantage of this, mainly on systems where the root filesystem is immutable and/or it is not beneficial to have both Docker and Podman installed.

All that would be required to support Podman *afaik* would be checking for a `podman` command and then using that if available (and possibly co

[2022-08-26 05:43] icosahedron opened #15 "Q: Support for multiple devbox environments?"
Is it possible to have different environments with different shells? I move to a different directory and create a new `devbox.json` but running `devbox shell` still contains the installed packages from the original `devbox.json`.

Perhaps this is a question pertinent only to Rust? I installed Clojure via one of the shells and it didn't show in the other shell.

Edit: Okay, I think I have it sorted

[2022-08-26 07:28] bketelsen commented on #5
works as advertised, thanks for the super quick fix!

[2022-08-26 07:47] osevan opened #16 "Can devbox have latest Clang and latest GCC from git?"
Devbox supporting latest gcc git or clang git compiles?

Thanks and

Best regards

[2022-08-26 10:05] methyl opened #17 "Devbox shell PATH should take precedence over existing binaries"
Hey!

Just been testing devbox and the experience so far is really smooth. I stumbled upon 3 things that confused me:
1. `devbox add package` failed with `Package not found` until I opened a new terminal. It's kind of documented, but maybe there is a way for a better error? Anyway, that's a nit.
2. `devbox shell` first run can take quite some time and there is no progress bar, but we already have

[2022-08-26 11:16] croqaz commented on #14
I use Podman instead of Docker for a couple of years without issues. I would love to see it here!

Wonderful tool!!

[2022-08-26 12:20] penyuan commented on #14
Strongly support Podman support by devbox, can't wait to see it.

Also AFAIK there are also security benefits to using Podman which is a nice plus.

[2022-08-26 12:58] adrianhopebailie commented on #7
What about a command to explicitly install dependancies without spawning the shell?

`devbox install`

[2022-08-26 13:37] matthewcmead opened #18 "Feature Request: Allow alternative OCI image creation"
It would be great to have pluggable container construction abilities so those on macOS using nerdctl/lima or buildah/krunvm could construct images transparently.

Thanks for a nice tool!

[2022-08-26 13:59] carlthome commented on #7
This was pretty confusing UX to me too in my test spin unfortunately. At least with `nix build` and `nix shell` I'm getting a lot of helpful progress bars for binary cache downloads and compiling. Staring at a `devbox shell` having no insight into how long it will take or if it's even doing anything is a pretty bad onboarding experience TBH.

[2022-08-26 14:29] robrich commented on #11
You can add [`dotnet-sdk`(https://search.nixos.org/packages?query=dotnet) package to your Devbox shell, and then `dotnet run` inside Devbox.  We do need to build the .NET detection when you generate an image though.  Thanks for the feature request.

[2022-08-26 14:31] robrich commented on #8
You can add [nodejs](https://search.nixos.org/packages?query=nodejs) package to your Devbox shell, and then dotnet run inside Devbox. We do need to build the Node.js detection when you generate an image though. Thanks for the feature request.

[2022-08-26 14:43] loreto opened #19 "Feature Request: Allow users to specify an alternate version of nixpkgs"
For example, in case they need patched packages or have a repo with private packages.

[2022-08-26 15:30] acheong08 commented on #7
How long should `devbox shell` be running for? I have extremely slow internet and it's been running for two hours already...

[2022-08-26 15:32] loreto commented on #8
As @robrich mentioned:
+ For the shell functionality, we already support nodejs – and you can install [any of the versions listed here](https://github.com/jetpack-io/devbox/issues/8).
+ For the container support, we are planning to add nodejs pretty soon. I'll repurpose this ticket to track the container support and we'll let you know as soon as we add it.

[2022-08-26 15:37] timonmasberg opened #20 "Specify package versions"
Hi, currently it is not clear how to install a specific package version for example for nodejs 16 instead of the latest 18 which is the version for the `nodejs` nix package. Is there a way to do this?  This seems to be a must-have thing for dev environments. After some research, this [tool](https://lazamar.co.uk/nix-versions) came up, which feels like more of a workaround...

Nevertheless, thanks

[2022-08-26 15:38] loreto commented on #7
Wow, that's definitely too long. This is the top issue we're working on – I'll circle back with an update later today.

[2022-08-26 15:48] loreto commented on #20
Hi @timonmasberg: you should be able to specify any version available in [nixpkgs](https://search.nixos.org/packages?channel=22.05&from=0&size=50&sort=relevance&type=packages&query=nodejs).

For example, `nodejs-16_x` is one of the options listed if you want nodejs 16. There's also `nodejs-10_x`, `nodejs-12_x`, etc. Does that answer your question?

[2022-08-26 15:52] timonmasberg commented on #20
Thanks, these are, as far as i understand, own packages. But for example, for Dapr, there exists only [one package](https://search.nixos.org/packages?channel=unstable&show=dapr-cli&from=0&size=50&sort=relevance&type=packages&query=dapr). How would I be able to pick a version there.

Thanks for the help!

[2022-08-26 16:06] loreto commented on #20
Ah, got it. Yes, right now a package with the version you want needs to exist in nixpkgs. In the case of `dapr`, because there's only a single `dapr` package, that's the only option you have (at the moment).

We are working on a feature that would let you add packages directly from github (in addition to the packages from nixpkgs). That would make it possible to grab the package directly from `htt

[2022-08-26 16:09] timonmasberg commented on #20
Understood, thanks for the clarification. Really looking forward to using the GitHub feature!

[2022-08-26 16:09] #20 closed

[2022-08-26 16:55] icosahedron commented on #15
Rust doesn't seem to work on macOS in a devbox shell.  A simple default app created with `cargo` doesn't link properly.  Not sure what the issue is. Probably on the Rust side?

[2022-08-26 18:51] loreto commented on #7
OK, folks, we just released a new version of `devbox` that should address some of these concerns. If you installed via our install script, you should get the new version automatically next time you run the binary.

We did two changes:
1. We now fetch nix packages via a tarball, which is faster than the previous git-based approach.
2. We now print to the console explaining we are setting up nix. Fo

[2022-08-26 18:53] loreto commented on #9
We just released a new version of devbox that should address this issue. If you installed via our install script, you should get the new version automatically next time you run the binary.

[2022-08-26 18:53] #9 closed

[2022-08-26 18:57] loreto commented on #17
Looking at this in more detail. I think the shell did start on the first try, but there's "interferance" from `asdf` as @rdlu is suggesting. Basically, I think the `asdf` path is taking precedence over the `devbox` path – I'm going to see if we can ensure the PATH precedence is set up correctly whenever you call `devbox shell`

[2022-08-26 19:01] loreto opened #21 "Feature Request: Add packages directly from github"
It's great to be able to add packages from [nixpkgs](https://search.nixos.org/) but some times we want to grab a very specific version of a package that it's only available in a github repository.

Add the ability for `devbox` to add packages from github.

For example:
`devbox add stedolan/jq@1.6` in order to install https://github.com/stedolan/jq/releases/tag/jq-1.6

[2022-08-26 19:02] loreto commented on #18
Will look into this, other folks requested `Podman` as well.

[2022-08-26 19:06] loreto commented on #10
We just released a new version of devbox that should address this issue. If you installed via our install script, you should get the new version automatically next time you run the binary.

[2022-08-26 19:06] #10 closed

[2022-08-26 19:09] loreto opened #22 "Feature Request: devbox install"
Make it possible to install packages without starting a shell.

[2022-08-26 19:10] loreto commented on #7
OK, I'm closing this issue because I think we addressed the most important bottlenecks. But feel free to open a new issue if you're seeing other problems related to speed.

@adrianhopebailie I opened this issue: https://github.com/jetpack-io/devbox/issues/22 to track your idea of having a `devbox install`

[2022-08-26 19:10] #7 closed

[2022-08-26 19:19] loreto commented on #16
Hi @osevan, right now, we can use any version in nixpkgs including the "Unstable" channel (make sure to look there too, since some times the newest versions of packages are there).

That means the latest versions you can pick of those packages are:
- Version 12.2.0 for `gcc` via the [gcc12](https://search.nixos.org/packages?channel=unstable&show=gcc12&from=0&size=50&sort=relevance&type=packages&qu

[2022-08-26 19:24] loreto commented on #14
Thank you for the suggestion! Closing this issue in favor of https://github.com/jetpack-io/devbox/issues/18. That one is worded more generally to include not just `podman`, but options like `lima` or `krunvm` as well. Feel free to follow that issue to track updates/progress.

[2022-08-26 19:24] #14 closed

[2022-08-26 19:30] loreto commented on #18
Reposting the podman request from #14:

Podman can be used as a (rootless and rootfull) drop-in replacement for Docker. Some users would like to take advantage of this, mainly on systems where the root filesystem is immutable and/or it is not beneficial to have both Docker and Podman installed.

All that would be required to support Podman afaik would be checking for a podman command and then usin

[2022-08-26 19:36] loreto commented on #15
@icosahedron We do support different shells with different environments. I suspect you ran into an issue by accidentally calling `devbox shell` inside `devbox shell`. It's happened to us a few times internally.

We just released a new version of `devbox` that prevents you from making that mistake (shell-inception is what we call it)

Re: rust compilation, I can't tell if that's due to the nested s

[2022-08-26 20:02] penyuan commented on #14
Thanks @loreto, support for more tools sounds even better! Will follow #18.

[2022-08-26 20:03] penyuan commented on #18
I'm not familiar with nerdctl/lima or buildah/krunvm, but Podman can be run rootless and is known to have some security advantages compared to Docker, so that's another good reason to support it! Can't wait for this.

[2022-08-26 21:06] orowith2os commented on #18
Podman support should be fairly trivial, just make it check for that and use it if it's the only method available.

As for how devbox should handle multiple container managers, it might be best to have it set as a CLI flag and/or inside of a configuration file (`$XDG_CONFIG_DIR/devbox/config.yml` or something along those lines), like I suggested in #14.

I'm not knowledgeable on how other containe

[2022-08-26 21:30] MasterOdin commented on #8
@loreto It looks like the link you put just links back to this ticket?

[2022-08-26 21:41] loreto commented on #8
Sorry!

Here's the right link: https://search.nixos.org/packages?channel=unstable&from=0&size=50&sort=relevance&type=packages&query=nodejs

[2022-08-26 23:13] icosahedron commented on #15
I too have been accidentally a few shells deep ¯\_(ツ)_/¯, but the rust issue isn't related to that. I've pushed a repo with the little project that I'm working on.

https://codeberg.org/icosahedron/rust-roguelike/src/branch/devbox

It fails linking with the errors
[cargo-build-error.txt](https://github.com/jetpack-io/devbox/files/9436785/cargo-build-error.txt)

And here are the requested environme

[2022-08-26 23:16] icosahedron commented on #15
I should state that I put `rustup` and then used that to install the Rust toolchain from inside `nix shell`. It seems to install correctly, in that `cargo` and `rustc` are in nix directories?

[2022-08-27 04:37] ChetanBhasin opened #23 "Language Request: Rust"
Lovely project! Would love to request auto language detection for Rust. I'll go through the code later and see if I can make a PR to do the same.

[2022-08-27 15:49] skorokithakis opened #24 "Rename the file to `.devbox.json`"
This is a bit of a personal choice and OCD, but I don't like files scattered about the root of my repo. The situation would be a bit better if the file were hidden, so I'd like to propose that the file be renamed to `.devbox.json`.

[2022-08-27 21:22] bogosj opened #25 "devbox shell gives no indication"
When I start a `devbox shell` I see no visual indication that I'm in the shell, but it definitely is working

![image](https://user-images.githubusercontent.com/10186620/187048347-c08c0e47-bda9-46c9-9b3a-d8ca0fdd370a.png)

[code]

[2022-08-27 21:43] hamidk opened #26 "Newbie question: WSL2 / Ubuntu 20.04: "devbox add python310" fails with "Error: Package python310 not found""

[2022-08-28 01:54] LucilleH commented on #26
@hamidk Did you install Nix?

[2022-08-28 05:27] jaeyson opened #27 "Does removing files/dir from initialized devbox suffice?"
Hi! noob question: I've followed the instructions with setting up nix and docker and initialized it (`devbox init`). Does removing `.devbox/` dir and `devbox.json` suffice?

[2022-08-28 07:41] hgezim commented on #26
I'm seeing the same issue, except with node:

[code]

I'm using fish shell by default.

[2022-08-28 07:55] ParetoOptimalDev opened #28 "unknown shorthand flag: 't' in -t when running devbox build"
Docker version 20.10.12, build 20.10.12-0ubuntu4
Ubuntu 22.04.1 LTS

Since I'm getting this error I guess this doesn't use the nix docker buildTools stuff? That means it doesn't do the [docker layer optimizations nix implements](https://grahamc.com/blog/nix-and-layered-docker-images) right?

[2022-08-28 08:06] ParetoOptimalDev opened #29 "devbox add ghc && devbox add haskellPackages.aeson does not add aeson to ghc package database"
[code]

That should show a package listed. Compare to the nix equivalent:

[code]

This lets it be used by ghci for instance:

[code]

I kind of expected this not to work, but figured I'd make an issue since I think it'd be nice if people could do this. Especially for things like the `lens` library with tons of dependencies which really make use of binary caching.

[2022-08-28 08:33] hamidk commented on #26
I did install Nix.
But, when I went to see the Nix install log, I realized that I overlooked to do
" . /home/ahk/.nix-profile/etc/profile.d/nix.sh" to setup the Nix environment. I just did it and now "devbox add pyhthon310" works. Thanks

[2022-08-28 09:46] #26 closed

[2022-08-28 11:52] loreto commented on #29
Thanks for reporting, let me take a look this coming week and see if we can easily fix it.

[2022-08-28 12:00] loreto commented on #18
Adding a note that another "engine" we might want to support is `nix`'s own `dockerTools.buildLayeredImage`.

As an update for everyone on this issue, I'm thinking this is implemented via a flag called `--engine`:
- `devbox build --engine=podman` builds using podman
- `devbox build --engine=docker` builds using docker
- `devbox build --engine=nix` builds using nix
- `devbox build` builds using the

[2022-08-28 12:04] loreto commented on #28
You are correct that we currently don't us the nix docker tools to build the image and just rely on `docker` directly. We have plans to allow for different "engines" to build the image, one of which is nix's `dockerTools` as you suggest. See https://github.com/jetpack-io/devbox/issues/18

In terms of the shorthand flag error: if you run `docker help build` does your version of docker not show `-t`

[2022-08-28 12:09] loreto commented on #27
Hi @jaeyson

If you're just trying to revert your project to it's pre-devbox state, then yes, that's all you need to delete and your project/directory is no longer using devbox.

If you're trying to completely uninstall devbox from your machine, then you also need to uninstall nix which adds a few things to your system including `/nix/store`.

Which of the two cases are you dealing with?

[2022-08-28 12:12] loreto commented on #25
@bogosj , may I ask what shell you use? What do you see if you run `echo $SHELL`? Is it `bash`?

[2022-08-28 12:17] loreto commented on #24
@skorokithakis Definitely understand the perspective of not wanting to pollute the root.

I'm unsure whether to hide the file by default for everyone: I see it analogous to `package.json` in yarn, and think some people will want to edit `devbox.json` manually – and I believe that's aided by ensuring the file is discoverable.

That said, how would you feel if we looked for both `devbox.json` and `.

[2022-08-28 12:26] skorokithakis commented on #24
Yeah, understandable. I agree that the flag would be annoying, I think looking for both files would be excellent. It would mean that every tool would have to look for the filename twice, but I think that's a small inconvenience for the ability to hide the file.

I agree that it's analogous to `package.json` or other files, but I don't like seeing those in the root either :stuck_out_tongue:

[2022-08-28 14:03] bogosj commented on #25
Yes, bash.

[2022-08-28 14:48] wei-ann-Github opened #30 "Installing python packages in devbox"
Hi,

Following the quickstart, I have installed python 3.10 in the devbox environment. However, how do I install python packages in the environment? A `pip install` tells me that the package is already installed. But that installation actually belongs to the installation in my WSL environment itself, and not in the devbox environment.
[code]

[2022-08-28 15:32] AlexDarby commented on #28
Hi, I'm also getting this message trying to run a 'devbox build'. My output of 'docker help build' shows the shortcode '-t' is available for tags.

Docker version 20.10.14, build a224086349
Ubuntu 22.04.1 LTS

devbox plan :

{
  "packages": [
    "python27"
  ]
}

[2022-08-28 15:34] loreto commented on #30
Hey @wei-ann-Github,

My guess is that you haven't installed `pip` in your devbox shell, so when you call `pip` you end up still calling the one outside of devbox. You can verify this by calling `which pip` – if it's a devbox one it should start with a `/nix/store` prefix like so: `/nix/store/mylr4gvdb65bv30cjmp4h8fkfnd943qp-python3.10-pip-22.1.2/bin/pip`

I just tried this myself really quickly a

[2022-08-28 15:39] loreto commented on #28
@AlexDarby would you be able to run `docker buildx build --help` and tell me if `-t` shows up as an option there too? Sometimes we use the `buildx` engine, and I'm wondering it that's what's causing this.

[2022-08-28 16:02] AlexDarby commented on #28
Hi @loreto , no there is no '-t' option using the `docker buildx build --help` command.

[2022-08-28 17:21] loreto commented on #28
Got it. Ok I'll have this fixed by the next release. We should be able to make it available sometime next week.

[2022-08-28 17:45] ParetoOptimalDev commented on #28
All of the information is the same for me as @AlexDarby FYI.

[2022-08-28 18:00] ParetoOptimalDev commented on #18
From [Optimising Docker Layers for Better Caching with Nix](https://grahamc.com/blog/nix-and-layered-docker-images):

Ideally devbox could transparently use the nix engine to build docker containers by default so it can claim these thriftier docker images that are faster to download in it's marketing.

Note some questions of "why devbox over docker in" [this reddit post about devbox](https://www.r

[2022-08-28 18:59] bogosj commented on #25
I tried zsh, same situation:

[code]

[2022-08-28 19:46] loreto commented on #25
Yeah, we need to fix on our side. I just wanted to know which shell so I can make sure it works for it. I'll take a look this coming week.

[2022-08-28 19:47] loreto commented on #23
Great, I added it to our short-list of languages to support. We're making a short-list based on community request. I'll follow up in this ticket once we have something.

[2022-08-28 19:55] loreto commented on #18
@ParetoOptimalDev Agreed. I'll look more into using dockerTools transparently. One of my goals is for devbox to build optimized containers out of the box: think layers setup for optimal caching, automatic caching of dependencies for the language you're using, secure by default, minimal container size using multi-stage builds, etc.

The type of thing that people don't get right the first time they

[2022-08-28 21:26] ParetoOptimalDev commented on #29
Sure, if it helps my first thought was "Can `devbox add haskellPackages.aeson` just always rewrite to implicitly be equivalent to `nix-shell -p "haskellPackages.ghcWithPackages (p: [p.aeson])"` rather than what I'm assuming it's now equivalent to `nix-shell -p haskellPackages.aeson`.

For haskell in particular this is very useful because the built packages are cached. For things like the cryptonit

[2022-08-29 00:15] raptium commented on #17
+1 I have the same issue with `pyenv`.

[2022-08-29 01:42] jaeyson commented on #27
Hi @loreto thanks for helping me out. You've answered my question with reverting to pre-devbox state. If we're talking about completely removing nix package manager, this ref https://nixos.org/manual/nix/stable/installation/installing-binary.html#uninstalling and your advice:

is enough right?

[2022-08-29 02:05] loreto commented on #27
Yes, correct – follow those instructions and you'll remove nix too.

[2022-08-29 02:22] #27 closed

[2022-08-29 06:02] prateek332 opened #31 "C# support in Devbox 🥺"
- I know C# isn't the most popular language out there, and it makes more sense to add support for JS or Python before C#.
- But what's the harm in asking 🤷 , since you've written this in the description 😛  : -

[2022-08-29 06:51] LeslieLeung opened #32 "Feature Request: support for older version of PHPs"
The older versions of PHPs is not supported by nix(see https://github.com/NixOS/nixpkgs/blob/master/pkgs/top-level/aliases.nix) , so when I use `devbox add php73`, it promts `Error: Package php73 not found.`.

However there are some workarounds, for example [fossar/nix-phps](https://github.com/fossar/nix-phps) . Is it possible for devbox to support such kind of workarounds?

[2022-08-29 07:28] RickyGrassmuck opened #33 "Devbox build unable to handle different versions of Go"
### Issue
When adding go_1_19 to my projects Devbox configuration, the `devbox build` command fails with the error

[code]

### Expected Result
A devbox container image that includes Go version 1.19

### Additional Information
I dug into the code a bit and the issue is being caused by the language detection feature for Go. The Go planner builder does not contain any logic for detecting that a gola

[2022-08-29 18:48] acrefoot commented on #25
Same issue with the PROMPT not being overridden on Mac :)
[code]

[2022-08-29 20:53] loreto opened #35 "Language Detection: Python"

[2022-08-30 00:08] loreto commented on #33
Thanks @RickyGrassmuck

We're discussing internally – we're leaning towards option 2.

[2022-08-30 00:09] loreto commented on #28
Fixed is merged into `main`, it'll go out in a release by the end of the week.

[2022-08-30 13:35] ParetoOptimalDev commented on #28
@loreto Thanks for the quick work.

 I found this issue while experimenting about blog post ideas for devbox, so this helps unblock exploring those and potentially getting one written.

[2022-08-30 14:13] AlexDarby commented on #28
Great, thanks @loreto ! 👍

[2022-08-30 18:41] LucilleH opened #42 "Allow setting ENV and other custom scripts on shell start"
On shell start, I want to set some ENV variables and configure some other things. For example, I want to set some personal aws credentials, or kube configs.

Would be great if I can set a hook to run a script of my choice on `devbox shell`.

[2022-08-30 20:04] robrich opened #44 "Feature request: Am I in a shell? a nested shell?"
Add a discover-inception command.  e.g. `devbox which` or `devbox whereami` outputs if I'm in a shell, and if that's in a shell and if that's in a shell recursively.  Perhaps add a `-v` that outputs the packages / env vars defined in that shell at each level.  If you're not in a shell it notes that too.

[2022-08-30 20:34] Lagoja commented on #13
Hey @jinfagang, We added some context in the [README](https://github.com/jetpack-io/devbox#readme)  about how Devbox is different from Docker.

Devbox uses Nix to create isolated development environments with your dependencies on your local machine, so you can develop your application in a consistent environment without polluting your laptop environment, or sacrificing speed + resources to build a

[2022-08-30 20:34] #13 closed

[2022-08-30 21:07] Lagoja commented on #32
We'll look into this! We're evaluating how to let users configure alternative Nix repositories and package sources for Devbox.

[2022-08-31 03:05] jinfagang commented on #13
@Lagoja Hi, if so, what if direclty using devbox packaged env to server for deploy to cloud? Why still need export to docker container?

[2022-08-31 03:55] Lagoja commented on #19
Related to #32, which also needs to pull packages from an alternative Nix repo?

[2022-08-31 04:06] Lagoja commented on #15
Hey @icosahedron, I did some digging and testing on my end, and I think the error you posted above is because AppKit framework is not available in your devbox shell. I was able to add it to my devbox by running:

`devbox add darwin.apple_sdk.frameworks.AppKit`

Can you try that in your project and see if that helps?

[2022-08-31 14:52] loreto commented on #44
We prohibited "shell-inception" in the `0.0.3` release.
We're planning to implement https://github.com/jetpack-io/devbox/issues/25

Do you still feel we should have a `which` or `whereami` command once we've done those two things?

[2022-08-31 17:43] TheGlenn88 opened #46 "Shell is not overridden on MacOS"
Hi,

I've install Nix, followed by Devbox, upon trying to do a `devbox add nodejs-18_x` followed by a `devbox shell` - I get dropped into a new zsh shell but has no access to node 18, it has access to node 16 from my main env.

Have I missed something or have I stumbled upon a bug? is there anything I can do to debug?

disclaimer: I had previously installed nix about a year back and didn't do too

[2022-08-31 18:11] Lagoja commented on #46
Hey @TheGlenn88, we've noticed that in some cases, the Devbox path is not taking precedence over the user's path. We're working to fix this in an upcoming release

[2022-08-31 21:27] icosahedron commented on #15
Nice. Thanks for researching that. I guess I misunderstood how nix works. I thought it would pick up the existing installed framework, so I was trying to figure out how my path was wrong.

[2022-08-31 21:27] #15 closed

[2022-08-31 22:11] Lagoja opened #47 "Package collision in `devbox build`, but not in `devbox shell`"
I created a rust devbox with the following devbox.json:

[code]
If I run `devbox shell`, the shell builds and resolves successfully:

[code]

However, when I run devbox build, I get the error:

[code]

Full output
[code]

[2022-08-31 22:36] Lagoja commented on #47
It looks like collisions between dependencies of the packages in my project. Removing everything except `cargo` and `libiconv` fixes the issue.

[2022-08-31 23:00] loreto commented on #33
To be specific: it'll make it so you don't have to add `go_1_19` manually, since devbox itself will use the right package based on your `go.mod`.

[2022-09-01 04:47] robrich opened #50 "Feature request: `devbox shell -p somepackage`"
It makes it feel a lot like [`npx`](https://www.npmjs.com/package/npx). Nothing to install or configure, I just run an isolated command and get results.

[2022-09-01 06:54] osevan commented on #16
Thank you very much.

Weekly builds will be nice

[2022-09-01 23:45] #44 closed

[2022-09-01 23:47] loreto commented on #33
PR Merged. Closing. It'll come out in a release tomorrow.

I know there's still an issue around improving package collisions overall, but we'll deal with that separately.

[2022-09-01 23:47] #33 closed

[2022-09-01 23:47] loreto commented on #28
Closing since PR is merged. It'll be released tomorrow.

[2022-09-01 23:47] #28 closed

[2022-09-01 23:48] loreto commented on #2
Closing, will be released tomorrow.

[2022-09-01 23:48] #2 closed

[2022-09-01 23:48] #17 closed

[2022-09-02 04:28] loreto commented on #18
@orowith2os Just sent out a quick PR that adds support for podman via an `--engine` flag. I'll try to get it merged before the next release. If that works well, then we can figure out how to make that configurable without having to add the flag.

[2022-09-02 04:59] loreto commented on #46
@gcurtis merged a fixed. It's going out on the next release. Closing.

[2022-09-02 04:59] #46 closed

[2022-09-02 04:59] loreto commented on #25
@gcurtis merged a fix. It's going out on the next release. Closing.

[2022-09-02 04:59] #25 closed

[2022-09-02 16:57] olimart opened #56 "Language Request: Ruby"

[2022-09-02 19:38] #35 closed

[2022-09-03 13:26] loreto commented on #18
Version 0.0.4 is out and supports `--engine=podman`. If anyone that actively uses podman can try it out and give us feedback, that would be greatly appreciated!

[2022-09-03 16:28] gfleetwood opened #60 "Devbox Add API Error"
Hello. Anytime I run `devbox add PACKAGE` I get this error:

[code]

But the package is still added to the json file. It only started today (2022-09-03). I first installed and tried out devbox earlier this week and didn't see that message. I'm on Ubuntu 20.04.

[2022-09-03 17:12] loreto commented on #60
I'll take a look today. Thanks for reporting!

[2022-09-03 17:15] loreto commented on #60
We think the add command is still working properly and these are just some spurious errors. We'll fix so that it stops printing the errors, but you should still be able to use devbox.

[2022-09-03 17:27] gfleetwood commented on #60
Great. What is segment being used for in devbox?

[2022-09-03 17:55] Lagoja commented on #60
We're using segment to collect some anonymized metrics on usage, platforms, and errors that will help us improve the product. We have a page explaining how we collect and use the data here: [Telemetry](https://www.jetpack.io/devbox/docs/telemetry/). We do not collect any identifiable information using Segment.

If you want to disable this telemetry, you can set `DO_NOT_TRACK=1` in your environment

[2022-09-03 20:16] gcurtis commented on #46
@TheGlenn88 this fix is now available in [the most recent 0.0.4 release][1]. If you installed devbox with the install script, then it should auto-update to the new version the next time that you run it.

Thanks for taking the time to report this bug, and feel free to reopen this issue if you're still seeing the wrong version of Node after updating.

[1]: https://github.com/jetpack-io/devbox/releas

[2022-09-03 20:33] TheGlenn88 commented on #46
Thanks @gcurtis

I’ll test again tomorrow and report my findings. :)

[2022-09-03 20:46] TheGlenn88 commented on #46
I’ve just managed to test actually and it worked perfectly.

Hats off to the smooth experience as well by the way, no messing around. Good job.

[2022-09-04 04:21] gfleetwood commented on #60
Thanks for the info.

[2022-09-04 04:21] #60 closed

[2022-09-04 07:05] bxb100 opened #63 "execute `devbox shell` with error"
❗ execute `devbox shell` with error

[code]

✅ execute `nix-shell .devbox/gen/shell.nix` success

---

Simple system Info

- System Version: macOS 13.0 (22A5331f)
- Kernel Version: Darwin 22.1.0
- Model Name: MacBook Pro
- Model Identifier: MacBookPro17,1
- Chip: Apple M1

[2022-09-05 11:49] codethief commented on #30
This seems very dangerous. Is there no way to tell devbox not to resort to the outside shell environment in order to prevent such issues?

[2022-09-05 12:13] wei-ann-Github commented on #30
Hi @loreto,

Thank you. this does work in install pip in devbox. However, installing python packages is still a challenge with this error
[code]

which pip shows:
[code]

[2022-09-05 17:12] morey-tech commented on #24
I see adding the flag as the better long-term solution, as it would add support for a number of different use cases. It seems the `devbox.json` is intended to be a replacement for a Dockerfile when building containers with `devbox`. I work in a couple of projects that have separate Dockerfiles for dev and production images (i.e., with and without debugging tools) so the `--config` flag would be cr

[2022-09-06 13:03] korjavin opened #67 "Should devbox work without sudo?"
[code]

[2022-09-06 13:04] sergiosouzalima opened #68 "Language Detection: Nim"
https://nim-lang.org

[2022-09-06 14:04] morey-tech commented on #67
That error seems to indicate that `sudo` is required to use `nix` on your system. This is likely a result of how `nix` was installed and unrelated to `devbox`. You could check this by running `nix-env --version` and see if you need `sudo`.

A potential solution is to grant your user access to the socket [as described in the docs here](https://nixos.org/manual/nix/stable/installation/multi-user.htm

[2022-09-06 14:14] morey-tech commented on #50
I think something like `devbox run <package>` could be a better syntax. It follows that of `docker`. The `run` signifies that `devbox` will execute the isolated command and exit. As opposed to `shell`, which given its current function, could imply that it will stay active after the command has been completed (i.e., a way to install a package in a shell without defining it in the config).

[2022-09-06 14:30] korjavin commented on #67
It worked, thank you!

[2022-09-06 14:30] #67 closed

[2022-09-06 15:13] loreto commented on #63
@bxb100 Could you include your `devbox.json` in this ticket? I want to see if we can reproduce.

[2022-09-06 15:48] loreto commented on #30
I'm thinking of adding a `--pure` or `--isolated` flag to `devbox shell` that would prevent the shell from having that access. That said; it's a bit tricky to know what the right default behavior should be. On the one hand, for tools like `pip` we almost never want to use something in your laptop. But for tools like `git` or `grep`, you kind of expect them to be available (if we're strict about th

[2022-09-06 15:56] loreto commented on #30
Hey @wei-ann-Github,

The short version is that we recommend using either `poetry` (https://python-poetry.org/) or  coupling `pip` with `venv` (https://packaging.python.org/en/latest/guides/installing-using-pip-and-virtual-environments/) for your python dependency management.

The reason you're seeing that error is this: `nix` and `pip` are conflicting with each other. `pip` installs packages glob

[2022-09-06 17:28] MatanyaLoewenthal opened #70 "Segment telemetry POST Connection refused"
Hey,

Anytime I do any dev box command I get the following error:
[code]

[2022-09-06 19:39] ebauger opened #72 "Language Detection: node.js"
fetch node version information from package.json, .nvmrc or .node-version : https://render.com/docs/node-version

[2022-09-06 19:53] ebauger opened #73 "Support x86/amd64 for building & running containers on arm64"
Hi,

I'm not the only developer who recently switch to Apple M1/M2 for developing.

Here my feature request:

Build x86/amd64 container image on arm64 : https://medium.com/geekculture/docker-build-with-mac-m1-d668c802ab96

Run x86/amd64 container image on arm64 :

Why?:
I had some "old" deprecated projects using the [node-gyp](https://github.com/nodejs/node-gyp) building process on a node.js proje

[2022-09-06 21:20] loreto commented on #22
@morey-tech That'd be great.

I think that's right, although instead of `shell.nix` you should use `default.nix` (same file used by the Dockerfile). If you send the PR, keep the install command as a "hidden" command (see the generate command for an example of a hidden command), as we'll want to do some additional testing before turning it on for everyone.

[2022-09-06 21:42] loreto commented on #30
Re-reading this: the pip error you're seeing is something else (you should still go with poetry or venv to the reasons I outlined), but let me see if I can replicate the error you're seeing in case there's something else wrong.

[2022-09-07 00:22] kmaris opened #74 "devbox setting PS1 breaks shell themes like powerlevel10k"
As per here: https://github.com/jetpack-io/devbox/blob/6f39e906cd5f58219618dcb1b3b50fb3520cd065/nix/nix.go#L59

Blindly setting PS1 can mess with custom themes for folks' shell prompts. I personally found it enough just to have the environment variable but I know others asked for it. Perhaps tweaking the shell can be optional?

[2022-09-07 06:38] bxb100 commented on #63
@loreto here there are

[code]

[2022-09-07 06:39] bxb100 commented on #63
Maybe the beta version OS problem

[2022-09-07 07:23] Lagoja commented on #70
We have a PR #61 that should address this, issue, which is also a duplicate of #60. For now, you can fix this by setting DO_NOT_TRACK=1 in your environment.

If you're curious about how Devbox uses Segment, you can check out our docs page here: [Telemetry](https://www.jetpack.io/devbox/docs/telemetry/).

[2022-09-07 09:15] codethief commented on #30
True. How about having devbox add certain binaries (e.g. all coreutils and maybe some others) to the devbox automatically? (At least by default. One should probably have the option of overriding this behavior / adjusting the list of binaries.)

[2022-09-07 13:38] Lagoja commented on #73
Thanks for this request. This could work via a `--platform` flag that is passed to Docker when building the image

[2022-09-07 13:42] Lagoja commented on #74
Thanks for the feedback. Some ideas to address this:

- Make it an option during installation ("Do you want Jetpack to add an indicator to your prompt?")

- Provide users with a snippet that they can add to their shell profile

- Add an Env variable that toggles off the default indicator (so developers can configure their own using the environment variable).

[2022-09-07 13:54] kmaris commented on #74
Personally, the third option seems best. If folks are running custom themes, chances are they're comfortable with environment tweaking (and perhaps the theme itself) to address toggling the behavior.

If you did the first option, would folks have to re-install to change the behavior? Across workstations? That could get tiring.

And the second option works but I think environment vars are more acce

[2022-09-07 15:07] janrito opened #76 "Feature Request: install via homebrew"
[code]

[2022-09-07 17:34] lucasrla opened #80 "devbox shell changes locale `LC_CTYPE` to `C`"
Thanks for creating Devbox. It's got potential!

While testing it out, I ran into the following issue: on macOS Monterey `devbox shell` changes my `LC_CTYPE` from `"UTF-8"` to `"C"`. This is causing me trouble with code that has Unicode (non-ASCII) characters.

It looks like that @rdlu [#17 (comment)](https://github.com/jetpack-io/devbox/issues/17#issuecomment-1228444054) already ran into a very s

[2022-09-07 19:21] loreto commented on #80
Thanks for reporting. Looking into it.

[2022-09-07 19:47] #8 closed

[2022-09-07 20:04] gcurtis commented on #74
I agree that controlling the prompt customization with an env var is the best bet. We could...

- Check if `DEVBOX_NO_PROMPT` is set. If it is, don't change `PS1` in the post-init hook.
- Introduce a `DEVBOX_PROMPT` env var.
	- If left unset, we default to the current behavior of updating the prompt.
	- If set to empty, we leave the prompt alone.
	- If set to anything else, we change the prompt to

[2022-09-07 23:13] Lagoja commented on #16
Closing this issue, and tracking this as part of issue #21. Thank you!

[2022-09-07 23:13] #16 closed

[2022-09-07 23:23] ebauger commented on #73
The documentation for that will be nice.

I'll try and make a fork if you want.

[2022-09-08 10:05] NSilv commented on #80
Tuning in cause I have the exact same problem: the issue seems to be that the nix-shell '--pure' option doesn't carry over the LOCALE (source: https://github.com/NixOS/nix/issues/318). For iex, prepending LANG=C.UTF-8 to iex removed the warning, but I haven't tested if unicode works properly yet. Another way I've been able to make it work is adding `export LANG=C.UTF-8` to shell.nix, then running

[2022-09-08 20:14] LucilleH commented on #72
@ebauger in the latest main we added version detection, but only by looking at the `package.json` file. Would that satisfy your use case?

The current Node version detection logic will go out in the next release.

[2022-09-08 22:36] Lagoja commented on #70
This should be fixed in our next release (0.0.5). Please let us know if you continue seeing this error message

[2022-09-08 22:36] #70 closed

[2022-09-08 22:43] Lagoja opened #91 "Language Support: Support installing python packages with pip in Devbox shell"
## Current State

Installing Python packages in Devbox shell with pip is currently not supported, since pip's global installation process conflicts with the Nix store. Developers can currently use Poetry to install packages in Devbox, since Poetry automatically creates a virtual environment that can install packages in an isolated fashion. However, since pip is still an incredibly popular package

[2022-09-08 23:00] Lagoja opened #94 "Workflow: Devbox Run"
## Current State

If you want to run a one off command or package with Devbox, you currently need to start your shell, run your package, and then exit the shell. This adds a lot of steps and friction for developers who may want to quickly start a package or run a project in their shell

## Desired State

I set up a shell in advance with `devbox init`, and then add packages using`devbox add`. I now

[2022-09-08 23:15] Lagoja opened #95 "Language Support: Planner Framework"
## Current State

Adding language support in both Shell and Docker Builds can only be done by the Devbox core team. This limits the speed at which we can add support for new languages to Jetpack, and makes it harder to respond to language requests that we are less familiar with.

## Desired State

In Devbox, `Planners` define how we will detect which language a user is using to build their project

[2022-09-08 23:20] Lagoja commented on #91
Related to #30

[2022-09-08 23:23] Lagoja commented on #50
We're not totally set on how the CLI will do it, but we are looking into `devbox run` like functionality for an upcoming release. See #94 for more details and discussion

[2022-09-08 23:24] Lagoja commented on #68
Definitely a language we'll look into once we release a Planner Framework to improve language support. See #95 for discussion and more details

[2022-09-08 23:32] Lagoja opened #96 "Package Management: Lock a shell's packages using a Devbox lockfile"
## Current State

Right now, if Developer A shares a `devbox.json` with Developer B, Developer B may get different packages installed when they run `devbox shell`. This can happen when Developer B has a different Nix store or revision configured on their local machine.

Developers do not currently have a way to pin their Devbox to a specific revision or store, so there is no way to guarantee that

[2022-09-09 03:07] Lagoja opened #100 "Language Request: PHP"

[2022-09-09 15:29] #42 closed

[2022-09-09 15:55] ebauger commented on #72
Yes for me, but some older project will use the file method depending of the node version.

[2022-09-09 15:55] #72 closed

[2022-09-09 18:21] tabby-jun commented on #63
@loreto
## I am also facing the same issue.

[code]

## devbox.json
[code]

## System Info

[code]

I'm not on Mac OS Beta.

[2022-09-09 19:26] loreto commented on #63
Got it.

I'm a bit puzzled by this error: `devbox` doesn't use rust at all – which makes me think there's something else that is causing the error (but likely failing because we're modifying the environment when creating the shell).

Googling for `Users/ciaccount` brought me to https://github.com/withfig/fig/issues/1133. By chance is either of you using `fig`? If yes, that might help us reproduce

[2022-09-09 19:29] loreto commented on #63
@gcurtis It's likely that whatever tool is interacting with `devbox` here, is failing due to an env variable we're failing to set when starting the shell.

@bxb100 is reporting that this works when calling `nix-shell` directly, but not via devbox. Could we do an inventory of all the env variables that `nix-shell` sets, and make sure we are carrying over all the important ones?

[2022-09-09 19:39] gcurtis commented on #63
It's definitely possible. Devbox starts with a new shell with a (mostly) empty environment for isolation. It should still source your shell's rc file like normal, but any variables set elsewhere won't be brought in.

If you run `nix-shell --pure .devbox/gen/shell.nix` do you get the same error?

[2022-09-09 19:48] tabby-jun commented on #63
@loreto Yes I'm using fig.

@gcurtis `nix-shell --pure .devbox/gen/shell.nix` does not give any errors.

adding this to the top of my `.zshrc`
[code]
works

I am able to `devbox shell` without errors with that workaround.

[2022-09-09 20:11] Lagoja opened #102 "Package Management: Specify and Install a specific version of a nix package."
## Current State

Devbox does not let you specify a specific version of a package that you want to use. This means that the Devbox will only install the version of the package that's available in your default nix channel

## Desired State

Developers can specify a version in their `devbox.json` using standard package management syntax, and Devbox will find and install the correct version:

[code]

[2022-09-10 01:50] bxb100 commented on #63
Same with @tabby-jun, `export FIG_DISABLE_SENTRY=1` work for me

Thanks

[2022-09-10 02:45] tabby-jun commented on #63
So is this considered a bug that should be fixed? (in devbox, or fig, or both?)

[2022-09-10 16:03] gcurtis commented on #63
@tabby-jun @bxb100 thanks confirming that `export FIG_DISABLE_SENTRY=1` works and testing out `nix-shell --pure`.

We should figure out what's causing the error, so I'm going to reopen this for now. Ideally we can implement a fix or automatic workaround.

[2022-09-11 13:01] paletteOvO opened #108 "Feature Request: disable '(devbox)' hint"
I have my starship config that hints I am in devbox shell which is more consistent but duplicated with devbox's hint.
![圖片](https://user-images.githubusercontent.com/16734391/189528658-440bfce7-c108-4ab9-8063-dc4b1875ac70.png)
![圖片](https://user-images.githubusercontent.com/16734391/189528684-31ab4704-713d-40b7-8a12-70e07dda0c58.png)

[2022-09-12 02:53] gfleetwood opened #109 "Feature Request: Allow User To Specific Name Of Config File"
if I change the name of `devbox.json` to something else then `devbox shell` throws an error:

[code]

But I'd like to have files for specific tasks - like editing pdfs - and want to use the filename as a guide, ex: devbox_pdf.json. It would be good to have that option.

[2022-09-12 03:04] gfleetwood opened #110 "Devbox Add Throwing Strange Error"
I'm on Ubuntu 20.04 and updated about three times in the last week. When I do `devbox add PKG` I get:

[code]

Contents of devbox.json:

[code]
Result from `devbox version`:

[code]

[2022-09-12 13:08] ebauger opened #111 "Enable PHP extensions in php planner"
Hi!

I want to install a php project with Composer to install a dependency (require or dev-require) using the imap extension.

I figured out the [php80Extensions.imap ](https://search.nixos.org/packages?channel=22.05&show=php80Extensions.imap&from=0&size=50&sort=relevance&type=packages&query=imap) is not installable.

I opened an [issue at NixOS repo ](https://github.com/NixOS/nixpkgs/issues/19051

[2022-09-12 14:35] loreto commented on #110
@gfleetwood to help use debug, could you send the contents of your `devbox.json` and let us know the output of `devbox version`?

[2022-09-12 14:37] loreto commented on #109
Interesting idea!

@gfleetwood Are you looking to do something like this?
[code]

[2022-09-12 15:24] gfleetwood commented on #109
Exactly.

[2022-09-12 15:26] gfleetwood commented on #110
@loreto Sorry. Added.

[2022-09-12 16:23] gcurtis commented on #74
Just wanted to give an update here on how we're planning to fix this for the next release.

Now that devbox supports setting shell hooks in `devbox.json`, we're going to remove the builtin logic that sets the prompt entirely. Instead, `devbox init` will generate a `devbox.json` that sets a prompt by default with something like:

[code]

That way the prompt can be disabled by simply removing or cha

[2022-09-12 16:27] gcurtis commented on #108
Thanks for the feedback! This is something we're planning on fixing for the next release. Work is being tracked in #74, so I'm going to close this out as a duplicate.

[2022-09-12 16:28] #108 closed

[2022-09-12 17:10] kmaris commented on #74
Sounds reasonable to me! Are you still planning to export `DEVBOX_SHELL_ENABLED`?

[2022-09-12 18:05] loreto commented on #110
@gfleetwood I believe this error is happening because we fail to parse your `devbox.json` since there's a comma `,` missing after `"pdftk"`

We'll add better error messaging so it's more obvious what's causing the error.

[2022-09-12 18:31] gfleetwood commented on #110
Ah, should have checked that. Next time I'll use devbox rm instead of hand editing the file.

[2022-09-12 18:31] #110 closed

[2022-09-12 19:00] drupol commented on #111
Hi @ebauger ,

What are you trying to achieve?

[2022-09-12 22:04] mikeland86 commented on #111
@ebauger devbox currently doesn't support php extensions, but I can add it to roadmap. We can use this issue to track it

[2022-09-12 22:35] mikeland86 commented on #111
@ebauger PR is out, so likely will be released next week. One caveat is that the `imap` extension is [not supported on darwin (mac)](https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/interpreters/php/8.1.nix#L51).

[2022-09-12 22:35] ebauger commented on #111
Hi @drupol

I want to make an isolate environment for a PHP 8.0 [Mautic 4.4.2](https://github.com/mautic/mautic/releases/tag/4.4.2)

 I will share a example repo tomorrow.

@mikeland86 It can be a practical example

[2022-09-12 22:47] ebauger commented on #111
I don't know how the layer/container on dev and production build work with devbox.

It possible to produce a container image with NixOS @mikeland86 ?

Why imap don't work on Darwin @drupol ?

[2022-09-12 23:01] mikeland86 commented on #111
@ebauger yep!

if you do `devbox build` it will create an image with your nix environment.

you can then run the development server

`docker run -p 8080:8080 devbox`

or you can shell in:

`docker run -it --entrypoint="" devbox /busybox/sh`

[2022-09-12 23:15] ebauger commented on #111
Good to know. @mikeland86

If we do devbox init && devbox shell.

What system nix packages will use? My own system with darwin version packages (for MacOS) or a nixOS base image container?

[2022-09-12 23:45] mikeland86 commented on #111
`devbox shell` uses `nix-shell` under the hood, so you'll get your own system.

[2022-09-13 03:14] Lagoja opened #116 "Package Management: Support Global Package Installs for NPM + Bundler"

[2022-09-13 03:16] Lagoja opened #117 "Package Management: Install Packages from Alternative Nix Registries"
## Current State

Right now, Devbox only supports installing packages from it's hard-coded `nix-channel` (set to a specific SHA of the unstable channel). This limits the packages a developer can install with devbox to a single list

## Desired State

Devbox should allow the user to specify additional or alternate Nix stores for installing packages.

[2022-09-13 03:19] Lagoja opened #118 "Language Support: Java"

[2022-09-13 03:20] Lagoja opened #119 "Language Support: Nginx + Static Files"
Provide support for configuring and developing static files hosted by Nginx in `devbox shell`, and then creating a deployable container using `devbox build`. This could be used to host frontend projects that can compile to static HTML + Javascript

[2022-09-13 06:20] #100 closed

[2022-09-13 14:45] ebauger commented on #111
Here the example repo @mikeland86 and @drupol  : https://github.com/ebauger/mautic-container

[2022-09-13 14:46] drupol commented on #111
This repository is empty.

[2022-09-13 15:24] drupol commented on #111
I see what you're trying to achieve.

Basically you'd like to have the `imap` extension inside your container which is built using devbox.

I don't know devbox, but maybe there's a way to configure the PHP derivation used in devbox? To be investigated.

Basically what you would need is to inject a custom version of PHP with the `imap` extension enabled:

[code]

I'm thinking out loud, but have you

[2022-09-13 15:40] ebauger commented on #111
@drupol,

If you use devbox, it will create a hidden tree here `.devbox/gen/shell.nix` mine look:
[code]
With the actual release, we have to manually change the generated file with your suggestion.

I don't know if devbox use this string expression `php.buildEnv { extensions = ({ enabled, all }: enabled ++ (with all; [ imap ]));})` and put to shell.nix

`devbox add php`

`devbox add phpExtensions.

[2022-09-13 15:47] drupol commented on #111
Ok I got it.

Have you tried to just replace `php` with the expression I gave you already ?

[2022-09-13 16:22] ebauger commented on #111
I did the test on shell.nix and fire devbox shell.
No error, but the package is not working on darwin.

and I can't test with the build image with NixOS.
with `devbox build` don't work on 0.0.4 here my issue https://github.com/jetpack-io/devbox/pull/53#issuecomment-1245628122

Any advice @mikeland86 ?

[2022-09-13 17:31] drupol commented on #111
Can you test on a linux box maybe ?

[2022-09-13 18:43] #111 closed

[2022-09-13 20:59] mikeland86 commented on #111
Hi @ebauger  that issue is fixed on [0.0.5](https://github.com/jetpack-io/devbox/releases/tag/0.0.5) which we just released. Give it a try!

[2022-09-13 22:23] gcurtis commented on #74
Yep! `DEVBOX_SHELL_ENABLED` will still be there.

[2022-09-13 22:28] #74 closed

[2022-09-14 13:15] alehuo opened #127 "Security: Disable automatic updates of devbox for security reasons"
In my opinion, updating devbox automatically adds an additional attack surface. In theory, this could allow arbitrary code execution, if the repository or its author accounts are compromised. I am not sure if devbox currently allows disabling automatic updates.

Instead of automatically updating devbox, the user would be notified of a new devbox update along with an `--update` flag or a `devbox up

[2022-09-14 14:40] loreto opened #128 "Request: Add devbox to nixpkgs"

[2022-09-14 14:52] loreto commented on #127
@alehuo Thanks for the feedback.

I hear your concerns – at the same time some people do find the automatic updating valuable – so I'm thinking we should give users the option.

Imagine:
- We implement `devbox update` as you suggest, that lets you do an update manually.
- We add support for an environment variable, that when set to false, lets you disable automatic updating (something like `DEVBOX

[2022-09-14 14:53] loreto commented on #127
BTW, I'll add that we already support an environment variable that let's you "pin" the version of devbox you want to use. For example, if you set `DEVBOX_USE_VERSION=0.0.5`, that will pin your binary to `0.0.5` and you won't receive any updated until you change that variable.

[2022-09-14 16:58] alehuo commented on #127
Thank you for your response @loreto,

I understand the value of automatic tooling updates, and the scenario you suggested would work. It allows updating manually, and disabling automatic updates. I still personally prefer opt-in automatic updates, and I would definitely update Devbox, if it asked my consent to update (technically working as a half-automated update process).

 The environment varia

[2022-09-14 18:55] #23 closed

[2022-09-14 19:51] alerque opened #130 "Add comparison chart to documentation covering similar projects"
I don't know if I've only started noticing or if the tooling in this space has started to proliferate, but it isn't clear to me which tool to reach for an which project. Recently I've run across [nixpacks](https://github.com/railwayapp/nixpacks), [riff](https://github.com/DeterminateSystems/riff), and [devbox](https://github.com/jetpack-io/devbox), all of which seem to try and simplify building an

[2022-09-14 23:54] #118 closed

[2022-09-15 20:18] LucilleH commented on #73
@Lagoja this is not as easy as it seems, as I'm getting an error during `devbox build` due to cross compilation.

@ebauger I'm wondering if you can pull my branch and test it yourself locally? I'm not sure if the error applies to your case as well.

[2022-09-16 18:01] ebauger commented on #111
From my repo

I did :
[code]
It work, but the package php is not 8.0 has expected. Maybe is more about a Nix package issue @drupol ?

[2022-09-16 18:07] ebauger commented on #73
@LucilleH I don't have any experience how to test a branch on this golang project. I'm a nodejs developer. Do you have any documentation?

[2022-09-16 18:09] drupol commented on #111
Hi,

Replace `php` by `php80` and it should be ok.

[2022-09-16 18:15] gcurtis opened #137 "Go planner prints obscure error when install stage fails"
We should print a more helpful error message if the `install_stage` for a Go project (and possibly other languages/stages) exits with an error.

This is the error right now:

[code]

The segment error should be suppressed and we should show the `go get` combined output along with the exit code. We should also include the steps on how to fix it.

[2022-09-16 18:29] LucilleH commented on #73
@ebauger 🙏 🙏  and let me know if I can help in any way!

[2022-09-16 18:31] ebauger commented on #73
Thank you 🙂

[2022-09-16 19:15] ebauger commented on #73
@LucilleH

On my macos monterey m1:

[code]

On my repo tested : [ebauger/mautic-container](https://github.com/ebauger/mautic-container)
[code]

[2022-09-16 19:32] LucilleH commented on #73
@ebauger yup looks like you ran into the same issue. To fix this we have a couple options:
1. Add support for nix cross-compilation. eg.
[code]
Cons: really really slow. The cross-compilation goes deep and it cross compiles really everything. I waited 3 hours one time and gave up.

2. Add `filter-syscalls = false` when `--platform` is set to something other than the machine. I'm not sure if we sho

[2022-09-16 19:45] ebauger commented on #73
Thank you @LucilleH for the follow-up.

Next week, I'll share my thought about this project.

[2022-09-18 23:58] kirbycool commented on #70
I was trying out devbox today and am still seeing this issue in 0.0.5
[code]

[2022-09-19 19:16] #80 closed

[2022-09-19 22:22] #119 closed

[2022-09-22 00:51] mikenikles opened #159 "`Error: exit status 130` - non-blocking"
**Steps to reproduce**
1. `devbox init`
2. `devbox shell`
3. Ctrl + C - New line in the terminal as expected
4. `exit<Enter>`

**Actual result**

[code]

**Expected result**

[code]

[2022-09-22 07:45] mikenikles opened #161 "Docs - Configuration Guide - Trailing comma"
At https://www.jetpack.io/devbox/docs/configuration/, the first and last `devbox.json` code snippets contain a trailing comma which causes the following error during `devbox build`:

[code]

[2022-09-22 13:18] loreto opened #162 "Print nix reminder when starting devbox shell"
Nix prints:
[code]

Devbox should print something similar.

[2022-09-22 14:24] ipince commented on #161
Thanks for the report!

[2022-09-22 14:33] #161 closed

[2022-09-23 14:00] mentos1386 commented on #94
This is something i see missing as well. I would like to use devbox inside CI and pre-commit hooks.

[2022-09-23 14:01] mentos1386 commented on #67
For arch users https://wiki.archlinux.org/title/Nix#Permission_denied

[2022-09-25 08:41] Roysten opened #175 "$PATH is broken in shell"
Trying out devbox for the first time, but I cannot get it to work. The PATH environment variable in the shell is broken:
[code]
It seems to use spaces to separate paths but it should use semicolons? My devbox.json:
[code]

[2022-09-25 11:38] loreto commented on #175
@Roysten Sorry about that. I'll take a look ASAP.

Could you send the output of `devbox version -v` to help us debug.

If you try a previous version of the tool, does it work? I'm wondering if it's a bug in the last release.

You can run a previous version like this:
`DEVBOX_USE_VERSION=0.0.5 devbox shell`

[2022-09-25 15:37] Roysten commented on #175
[code]

[2022-09-25 19:38] #175 closed

[2022-09-25 20:55] lucasrla opened #177 "SSL certificates are unset inside devbox shell"
Hello, Nix's SSL certificates are not working properly within devbox shell.

Here's a trivial example (Devbox `0.0.6` on macOS Monterey):

[code]

[Investigating](https://github.com/NixOS/nix/issues/2899#issuecomment-699299567) it a bit further:

[code]

So I tried the following and it did solve the issue:

[code]

I guess the root cause is that `devbox shell` [relies on `nix-shell --pure`](https:

[2022-09-26 16:45] gcurtis commented on #177
Thanks for the thorough investigation into this! I agree that it makes sense to leave the cert file set by default. This should be a simple change of just adding `NIX_SSL_CERT_FILE ` to the list of env vars we tell the shell to keep. We'll aim at getting this fix in for the next release.

[2022-09-26 16:49] gcurtis commented on #159
Thanks for reporting this. It looks like a regression of #38.

[2022-09-26 19:15] #177 closed

[2022-09-27 17:58] mikeland86 opened #179 "Show better error when no planner is found in devbox build"
Right now it shows:

[code]

It should probably say:

[code]

[2022-09-28 15:05] AddictArts opened #181 "Podman support and installation is not simple, easy, or predictable"
Please consider Podman, should be a drop in, supports all the docker cli. However this alone is not enough to get going at least for me.

The Nix install failed for me and I think the docs here understate the complexity of this install, really unfortunate.

The irony of a tool to have easy predictable shells and yet installation is not easy or predictable itself is not lost on me.

[2022-09-28 16:39] savil commented on #181
@AddictArts thanks for raising these issues.

On Podman, that's a good suggestion. I'll look into it.

We also similarly feel that the nix install requirement is burdensome. We're actively exploring ways to mitigate this - stay tuned!

[2022-09-28 17:01] loreto commented on #181
@AddictArts What sorts of errors are you seeing in the nix install? While we don't maintain that project, if we understand the errors we might be able to mitigate them or improve them in the context of a devbox install.

[2022-09-28 17:20] ipince commented on #181
Let's focus this issue on just the nix installation difficulties, and continue discussion on podman support on #18 .

Note that you can run `devbox build --engine=podman`, as mentioned in:
https://github.com/jetpack-io/devbox/issues/18#issuecomment-1236120304

But please give it a show and do let us know if you encounter any issues!

[2022-09-28 17:48] ipince commented on #56
Btw, Ruby is already supported (see #164), with Rails support added in #183.

I'll update the docs next. Let me know if you see any issues when trying it out!

[2022-09-28 18:58] AddictArts commented on #181
Thanks @loreto and @ipince

I did stumble on that, so if I can ever get passed the nix install then I'll give it a go. Although it looks like the nix install is a bust. MacOS is just not viable for nix and Windows requires WSL2, which basically means devbox will be a linux land utility only. While some may have it working on MacOS or Windows it is not first class like linux and other alternatives

[2022-09-29 11:34] QuentinN42 opened #185 "Feature request: Subfolder search of the devbox.json"
Hello,
I'm using devbox inside a monorepo and I want to exec `devbox shell` while I'm in a nested folder.

[code]

While I'm inside `a` or `b`, running `devbox shell` result in `Error: open devbox.json: no such file or directory` and I want devbox to lookup if there is some parent folders that uses devbox.

[2022-09-29 13:30] olimart opened #186 "Error running devbox"
Following #164 I wanted to give ruby a try but can't make it work (although does not seem to be related to ruby at all).
No idea what to check so pasting everything I did. Any idea?

`devbox.json`

[code]

then running devbox returns

[code]

[2022-09-29 15:20] ipince commented on #186
hmm, that's odd (and does seem unrelated to ruby).

my guess is the shell is trying to load some `.bash_profile` script or something like that, and failing.

but i'm also curious if some other planner is affecting things. what's the output of `devbox plan`?

[2022-09-29 15:26] olimart commented on #186
[code]

[2022-09-29 15:52] ipince commented on #186
Hmm ok that's as expected.

Does the problem still happen before trying it with ruby?

What's your OS? do you have any profile scripts, and if so, does the problem persist if you disable them? does the problem happen with different shells? looks like bash 3.2 is kinda old (from 2006... latest is 5.2)--is there any reason why you're using such an old shell?

[2022-09-29 17:37] olimart commented on #186
same error with python example, so I guess related to my shell.

haha. am using what Mac OS provides on my good old trusty iMac. I'll try again on most recent laptop if not supported.

[2022-09-29 17:51] savil commented on #185
@QuentinN42 when inside `a` or `b`, could you try running `devbox shell ../` and see if that works for you?

[2022-09-29 18:40] #179 closed

[2022-09-29 20:04] Lagoja commented on #11
We now have language support for .Net projects! Documentation for our autodetection is here: https://www.jetpack.io/devbox/docs/language_support/csharp/

[2022-09-29 20:04] #11 closed

[2022-09-29 21:38] Lagoja commented on #94
Hey everyone, this is now available in Devbox 0.0.7 -- you can run a one off command in your devbox shell using:

[code]

This will launch a shell based on your devbox.json, run your command, and then exit back to your normal shell. For example:

[code]

More info is in our new CLI Docs: https://www.jetpack.io/devbox/docs/cli_reference/devbox_shell/

[2022-09-29 21:43] Lagoja commented on #91
This is now supported in v0.0.7. See the docs on running packages with pip here:

https://www.jetpack.io/devbox/docs/language_support/python/

[2022-09-29 21:43] #91 closed

[2022-09-29 21:47] Lagoja commented on #30
Hey everyone, pip install is now supported in shell and build starting in version 0.0.7! When using pip, we'll create a virtualenv that lets you install your packages in an isolated manner. You can learn more from our docs here: https://www.jetpack.io/devbox/docs/language_support/python/

[2022-09-29 21:47] #30 closed

[2022-09-29 22:26] Lagoja commented on #50
This is now available in Devbox 0.0.7! You can run a one off command in your devbox shell using:

[code]

This will launch a shell based on your devbox.json, run your command, and then exit back to your normal shell. For example:

[code]
More info is in our new CLI Docs: https://www.jetpack.io/devbox/docs/cli_reference/devbox_shell/

[2022-09-29 22:26] #50 closed

[2022-09-30 03:34] Lagoja opened #191 "Issues when building a Devbox Project with `--engine=podman`"
The Dockerfile that we are generating appears to be incompatible with Podman, because we are using features that are only supported by Docker. Some issues we've encountered:

- [ ] Our COPY steps use the `--link` flag, which is not supported by Podman:
[code]
- [ ] The step `SHELL [ "/busybox/sh", "-eu", "-o", "pipefail", "-c"]` is ignored, because SHELL is not suported in the OCI image format.

-

[2022-09-30 03:38] Lagoja commented on #137
Related to #70

[2022-09-30 03:50] #94 closed

[2022-09-30 04:34] Lagoja opened #192 "Feature Request: Start Multiple Processes in the background when running Devbox Shell"
## Current State
Currently developers do not have an easy way to start multiple processes in the background when starting their devbox shell. While this can be done manually by running commands and then backgrounding them in the shell, this is fairly cumbersome and manual to do every time the developer starts the shell.

Developers may want this for development shells that require multiple process

[2022-09-30 04:43] Lagoja commented on #95
This is currently supported via the PlanSDK in Devbox, and we've built ~12 new languages. Remaining task is to document it for other users.

[2022-09-30 04:43] Lagoja commented on #95
This is currently supported via the PlanSDK in Devbox, and we've built ~12 new languages. Remaining task is to document it for other users.

[2022-09-30 04:45] Lagoja commented on #47
Haven't been able to reproduce this, will reopen if it occurs again and I have more details

[2022-09-30 04:45] #47 closed

[2022-09-30 04:49] Lagoja opened #193 "Create a Planner Tutorial"
Add docs and a blog post demonstrating how to create a Planner using the PlanSDK in devbox.

[2022-09-30 04:50] Lagoja commented on #191
Related issues #55 #18 #14

[2022-09-30 07:21] QuentinN42 commented on #185
Yes it works but for example using git I don't need to give the absolute path to the base repo to make it works...

I think this line can be changed  to return a null value.
https://github.com/jetpack-io/devbox/blob/930867bf4e84f370b4c42a9797a7ee85821f8483/boxcli/args.go#L24

Then in this folder if the `path` is null, recursively test `devbox.Open(path)` from current folder to root folder.
https:/

[2022-09-30 07:39] QuentinN42 commented on #109
Maybe changing this line by :
https://github.com/jetpack-io/devbox/blob/930867bf4e84f370b4c42a9797a7ee85821f8483/devbox.go#L22-L23
[code]

[2022-10-02 00:14] jason-riddle opened #196 "Bug: "bash: command substitution" regression in 0.0.6"
In 0.0.6, there's now the following message which is confusing.

[code]

This was not occurring in 0.0.5.

### Steps to reproduce

1. Create a devbox.json file with contents
[code]

2. Run `DEVBOX_USE_VERSION=0.0.6 devbox shell`, output pasted below which includes the message

[code]

3. Compare this with the output of 0.0.5 `DEVBOX_USE_VERSION=0.0.5 devbox shell`, output pasted below

[code]

[2022-10-02 00:25] jason-riddle commented on #127
Some points to add in favor of disabling automatic updates.

1. There is a regression in 0.0.6 (https://github.com/jetpack-io/devbox/issues/196) that had not affected me until I was automatically upgraded from 0.0.5. I would have been okay (albeit a bit behind in versioning) if this had not occurred.

2. Also, from a compliance perspective, just automatically updating to the latest version is not

[2022-10-02 00:33] jason-riddle commented on #127
Another idea is to add a `version` key in `devbox.json`. So maybe something like this

[code]

where `version` can be `"latest"` or `"0.X.Y"`.

If the `version` key is not defined, then just assume `"latest"`. Otherwise, use the specified version.

This would unlock 2 things:

1. You now have strict reproducibility. Running `devbox shell` today or from a year from now will use the exact version of

[2022-10-03 14:24] loreto commented on #127
@jason-riddle I like the idea of having a `version` field inside the devbox.json, let me look into that approach!

[2022-10-03 16:32] Lagoja opened #198 "Feature Request: Support running and building devbox remotely"
# Current State

Developers may want to run their devbox shell on a remote instance or machine, in order to test their shell on a specific architecture, or to have access to their devbox shell on multiple machines. Currently we lack any guidelines or out of the box support for doing this.

# Desired State

Developers should have a way to easily run Devbox on a remote, cloud based instance. The ins

[2022-10-03 19:35] Lagoja commented on #56
Hello @olimart, we have updated docs for our Ruby integration here: https://www.jetpack.io/devbox/docs/language_support/ruby/

Please let us know if you test them out! We'd also love to hear your feedback on [Discord](https://discord.gg/jetpack-io)

[2022-10-03 19:35] #56 closed

[2022-10-04 02:05] LucilleH commented on #196
Related to https://github.com/jetpack-io/devbox/issues/186
Planning to address this after https://github.com/jetpack-io/devbox/pull/188 goes in

[2022-10-04 17:32] LucilleH commented on #137
@loreto I think we can close this? Should be addressed by both your segment PR and my golang ones?

[2022-10-04 18:43] loreto commented on #137
Yes. The segment one is #197. Closing.

[2022-10-04 18:43] #137 closed

[2022-10-05 16:03] #159 closed

[2022-10-05 16:18] #185 closed

[2022-10-05 23:02] pomdtr opened #209 "Proposal: add direnv config"
Here is what I came up with:

[code]

Thanks to this, as soon as I cd inside my project folder, I'm inside the devbox shell. Newly added package are also automatically loaded in the current shell.

It might be worth to add it somewhere, but I'm not sure where.

[2022-10-06 01:11] #186 closed

[2022-10-06 01:11] #196 closed

[2022-10-06 01:18] olimart commented on #56
Thanks @Lagoja working fine indeed. Next step is to give Rails a try.

[2022-10-06 03:27] mikenikles opened #214 "Feature Request: Multiple terminals in parallel"
Disclaimer upfront: This is a bit of a moonshot, but hear me out 😄.

## Current situation

In `devbox.json`, I can configure a `shell.init_hook` array:

[code]

These commands run in sequence and each has to terminate.

## Future

In most of my projects, I need to spin up a few services in parallel. For example:
* A database
* An API server
* A web app

Each runs in its own terminal and prints its

[2022-10-06 05:52] alehuo opened #216 "ModuleNotFoundError: No module named 'pkg_resources' error after upgrading to Devbox v0.0.9"
## Description

After Devbox automatically upgraded itself to `v0.0.9`, my Devbox environment broke. This was not happening in Devbox `v0.0.7`.

When running `python -m pipenv` inside the Devbox instance, the following error is shown:

[code]

Running `pipenv` alone does not cause the error, only `python -m pipenv` does now.

My `devbox.json`:

[code]

## How to reproduce

1. Use Devbox `v0.0.9` (

[2022-10-06 10:03] alehuo commented on #216
@savil Running `DEVBOX_USE_VERSION=0.0.7 devbox shell` helped, and I'm again up and running.

[2022-10-06 18:41] #216 closed

[2022-10-06 22:33] savil commented on #216
This should be fixed in version `0.0.10`, which was just released.

[2022-10-07 10:07] pomdtr commented on #209
Sadly it is not working really well in vscode (the direnv extension is not really good at overriding the user path). I think writing  a devcontainer instead would be better :)

[2022-10-07 10:30] pomdtr opened #223 "Not able to install devbox using a script"
I'm trying to install devbox inside a docker container, however the `--yes` flag does not work:

[code]

[code]

[2022-10-07 10:54] Satont opened #224 "Feature Request: ability to turn off autodetection languages/stacks"
Yesterday I found myself in a situation where autodetection was preventing me from installing the right version of nodejs. I managed to set `18.7.0` even though the releases already have `18.9.1` and it is available for installation via nix.

It would be useful to be able to manage versions more flexibly, without `engines` field in `package.json`.

[2022-10-07 11:00] Satont commented on #224
Wait, is it done in https://github.com/jetpack-io/devbox/pull/222?

[2022-10-07 14:51] tharun208 commented on #76
@Lagoja i like to work on this

[2022-10-07 18:15] savil commented on #223
@pomdtr thanks for reporting this. I'll take a look soon.

[2022-10-07 18:25] pomdtr commented on #223
Thanks ! It looks like the `FORCE` env variable should be used instead.

[2022-10-07 19:49] pomdtr opened #226 "Proposal: Add a devcontainer config for VS Code / Github Codespaces"
I did not find a way to effectively integrate devbox with vscode. As the broad majority of devs are using this editor these days, this is a concern for adoption in large teams.

You can start a devbox shell in the vscode terminal, but it does not set the env of all other vscode process (tasks, debugger, extensions...)

I feel like writing a [devcontainer](https://code.visualstudio.com/docs/remote/

[2022-10-07 23:24] mohsenari commented on #209
@pomdtr That's a great suggestion. We've been looking into integrating with `direnv` for the past couple weeks. You suggestion technically works but it also makes `devbox` think it's in a shell subprocess. So if you go into your direnv allowed directory and run `devbox shell` it will output:

Run 'exit' before calling devbox shell again. Shell inception is not supported
and when you run `exit` you

[2022-10-07 23:29] mohsenari commented on #209
@methyl We're looking into VSCode integration with `direnv + devbox` as well. If we can't get the extension to work with a devbox environment as we intend, we might have to write our own extension.
Either way, we'll follow up on this issue once we have a solid solution for VSCode setup.

[2022-10-08 08:13] pomdtr commented on #209
For direnv to work with vscode, it looks like you will need to patch the whole `code` process. See https://rastertail.net/blog/hacking-vscode/ for more details.

[2022-10-13 08:50] abdullahdevrel commented on #116
This was the response I got from the devs. I haven't tried the solution yet, but I think it should work.

Because it is built on top of Nix, I think many concepts are interchangeable.

[2022-10-18 20:43] Lagoja commented on #224
Hey @Satont! We're working on turning this on for an upcoming release, so that developers can manage the version directly in their `devbox.json`. I think this will be out in the next release.

[2022-10-18 21:00] Lagoja commented on #224
This should be addressed in #227

[2022-10-18 21:12] Lagoja commented on #226
Hey @pomdtr, we'll look into this feature. Is this something you use to develop locally on your own machine as well? Or is it for remote development?

[2022-10-18 21:48] pomdtr commented on #226
I use this workflow both on my local machine and my remote workspaces

[2022-10-21 20:11] mohsenari commented on #226
@pomdtr We recently published the first version of [devbox VSCode extension](https://marketplace.visualstudio.com/items?itemName=jetpack-io.devbox&ssr=false#overview). We'll try to see if we can have the environment for the whole IDE (debugger & path to binaries and dependencies) be updated by the extension. Devcontainer seems like a possible solution as well. We'll update under this issue once we

[2022-10-21 20:14] mohsenari commented on #209
@methyl We published a [devbox extension for VSCode](https://marketplace.visualstudio.com/items?itemName=jetpack-io.devbox&ssr=false#overview). It detects if you have devbox.json and when you open terminal in the IDE, it automatically goes to devbox shell.
Feel free to give it a try and let us know if you have any suggestions.

[2022-10-21 23:26] Satont opened #238 "VSCode extension doesn't entering shell (WSL)"
WSL: `0.70.0.0`
VSCode: `1.72.2`
Extension: `0.0.1`
WSL Distro: `Arch`

Opened devtools in VSC via `ctrl+shift+I`, there is no errors.

Please tell me how i can help to reproduce problem.

[2022-10-21 23:27] Lagoja commented on #238
Can you share a rough outline of the project structure you are opening in VSCode (e.g., folders, where the `devbox.json` is stored)? This will help us replicate with a similar project

[2022-10-21 23:28] Lagoja commented on #238
CC'ing Mohsen to take a look

[2022-10-21 23:39] Satont commented on #238
`devbox.json` in the root of project.

[2022-10-21 23:50] Satont commented on #238
I'm opening project via `code ~/projectName`

[2022-10-22 00:14] mohsenari commented on #238
@Satont I just installed WSL and tried to recreate this in my windows machine. But the terminal correctly goes to devbox shell.
Does your terminal window open when you press `ctrl+shift+I` ? in newer version of VSCode the keyboard shortcut has changed to
[code]

[2022-10-22 00:34] Satont commented on #238
Testing on the ubuntu wsl, it works. Might be bug on not officially supported wsl distro. Closing now, sorry.

[2022-10-22 00:34] #238 closed

[2022-10-24 10:15] pomdtr commented on #226
Cool ! Here is an interesting read on the devcontainer / nix interaction: https://levelup.gitconnected.com/vs-code-remote-containers-with-nix-2a6f230d1e4e

[2022-10-24 10:30] methyl commented on #209
@mohsenari thanks for a heads up! I think it's solving less problematic issue of having terminals in vscode open devbox shell, what's more important I think is to make sure extensions can use devbox to run the binaries.

[2022-10-24 13:41] pomdtr commented on #226
I've got a draft version working for devbox. Please take a look at it: https://github.com/pomdtr/devbox-devcontainer

[2022-10-24 22:36] mohsenari commented on #226
@pomdtr Thanks for sharing this. I don't have codespaces enabled on my github account but I tested it locally with Docker desktop and Dev Containers extension on VSCode and it woks great. Although, it runs vscode from inside a Docker container with a shared volume between the host machine and Docker. That means in a non-Linux OS there might be a performance hit.

That said, I really liked the Dev

[2022-10-24 23:20] pomdtr commented on #226
I think the performance hit should be quite minimal since the bind mount only contains the workspace folder. There are way to mitigate the performance penalty (see : https://code.visualstudio.com/remote/advancedcontainers/improve-performance)

[2022-10-25 21:08] mohsenari commented on #226
Ah interesting!
@pomdtr I've shared your example on devcontainer setup with Devbox with the team. Are you ok if we add it to our docs/guides?

[2022-10-25 21:21] pomdtr commented on #226
Go ahead !

[2022-10-26 05:09] pomdtr commented on #226
I have made some improvements on the template. The dependencies are now populated during the build, and the `.devbox` dir is no longer in the workspace directory (since the symlinks only work in the container).

The only issue is that the devbox cli is no longer working in the container. It would be cool to add support for setting the `.devbox` dir path via config.

Ex:

[code]

Ideally I would al

[2022-10-26 18:37] mohsenari commented on #226
Thanks a ton for improving the templates! to summarize you suggestions are:
- "add support for setting the `.devbox/` dir path via config"
- setting `--config`  and `--cache` flags using env variables
- adding a `devbox install` command as alternative to `devbox shell --config /devbox/devbox.json -- echo "Devbox Store Populated"`

I'll make separate issues for them to track each independently.

[2022-10-26 20:57] mohsenari opened #244 "feature request: add support for setting the .devbox directory path via config"
Following up the thread in #226
(created this for tracking)

Right now the `.devbox/` directory is located at the same level as devbox.json (project root).
The proposal is to make this configurable.
example:
[code]

[2022-10-26 20:59] mohsenari opened #245 "feature request: Set config and cache flags via env variables"
following up the thread in #226
(created for tracking)

be able to set `--config` and `--cache` flags using environment variable since it would allow users to set them in a Dockerfile:

[code]

[2022-10-26 21:02] mohsenari opened #246 "feature request: adding a devbox install command"
following the thread at #226
(created for tracking)

`devbox install` or another similar command as alternative to
[code]
Because the command above is only run to install dependencies and populate the store with binaries of the dependency. However, the command does not reflect the intention. So this can be summarized in an alternative simpler command.

[2022-10-26 21:32] pomdtr commented on #226
Thanks a lot ! If you have some time, it would loke to get some feedback on the dockerfile. I tried to use the buildkit cache feature to reduce the build time on successive builds, but I was not successful.

[2022-10-27 04:14] #95 closed

[2022-10-27 04:15] Lagoja commented on #224
Closed with #227

[2022-10-27 04:15] #224 closed

[2022-10-27 04:25] Lagoja commented on #246
Duplicate of issue #22. Linking them to track in one place

[2022-10-27 04:26] Lagoja commented on #22
linking this to the ticket and discussion at #246. Also addresses installing packages without running the shell

[2022-10-27 04:26] #22 closed

[2022-10-27 04:27] Lagoja commented on #193
Postponing this since we decided to rely less on planners for `devbox shell` in version 0.1.0 based on user feedback.

[2022-10-27 04:27] #193 closed

[2022-10-27 23:10] Lagoja commented on #116
Supportable with the workflow described above for nodePackages and some other package managers. For tools like Bundler, there are some workarounds that can be found in our examples Repo (https://github.com/jetpack-io/jetpack-examples). We're planning some work to make this configuration easier for developers to setup.

[2022-10-27 23:10] #116 closed

[2022-10-27 23:17] Lagoja opened #248 "Let users choose a specific revision of nixpkgs for installing their packages"
## Problem

Devbox is currently pinned to a specific commit of the unstable channel of nixpkgs. This ensures that everyone who uses Devbox gets the same packages (ensuring their environments are reproducible), but it limits which versions of different packages are available with Devbox

## Solution

As a temporary means of addressing this issue, we will allow users to provide a different revision

[2022-10-28 21:21] mohsenari commented on #226
@pomdtr I looked at the Dockerfile, there is not much feedback I have on making it faster. Nix installation takes some time and also first time running `devbox shell` after a new installation also takes time due to Nix copying stuff to `/nix/store`. So One idea is to have everything before calling `devbox shell` and publish it as a public Docker image. That way Nix and devbox get cached as a layer

[2022-10-30 02:19] abdullahdevrel commented on #116
@Lagoja Oh geez, I didn't realize that you were a contributor yourself, I thought it was a question from a user haha. So wanted to help. :)

[2022-11-04 20:50] itsmarkvm opened #261 "Unable to create Docker image following quickstart on WSL2"
Whenever I follow the [Quickstart ](https://www.jetpack.io/devbox/docs/quickstart/)I get the following error as soon as I arrive at the step to execute `devbox build`

`
Error: Devbox could not find a buildable plan for this project. If your project/language is currently supported, please create an issue at https://github.com/jetpack-io/devbox/issues - if it's not supported you can request it!`

I

[2022-11-04 21:15] LucilleH commented on #261
What does your `devbox.json` look like for your nodejs project? And what is the node version defined in your `package.json`?

[2022-11-05 20:17] itsmarkvm commented on #261
`devbox,json`

[code]

No NodeJS version is defined in `package.json`. According to the [docs](https://www.jetpack.io/devbox/docs/language_support/nodejs/) if no version is set Devbox will default to 16.

`package.json`
[code]

[2022-11-07 10:22] dritter opened #265 "Invalid Version"
Hi there!

While I tried to use `devbox init` I always get the following error:

![image](https://user-images.githubusercontent.com/1544760/200285320-a4b47c63-d2bf-476e-adc7-e95201d02490.png)

I dug into this, and found out that this happens in `/usr/local/bin/devbox` shell script that tries to parse the latest release version and trips over the api response being one single line:
[code]
Changing

[2022-11-07 15:20] loreto commented on #265
@dritter Thank you for reporting! We'll take a look at this today and fix ASAP

[2022-11-07 15:25] loreto commented on #265
To help us test the change, would you be able to send the contents of `/tmp/tmp.XfvLzJZoYD` (the file we're grepping over)

[2022-11-07 15:33] dritter commented on #265
Sure, the file (with a different name) is this Zip:
[devbox-debug.zip](https://github.com/jetpack-io/devbox/files/9953095/devbox-debug.zip)

Sorry for the Zipfile. I created the Zipfile because copy&pasting ruined the newlines (which are important here).

[2022-11-07 15:54] dritter commented on #265
Works wunderful!
![image](https://user-images.githubusercontent.com/1544760/200354884-0570cfda-7f5c-447c-b39d-4b2e59d64f26.png)

Thank you very much!

[2022-11-07 16:22] dritter commented on #265
Yep. Works like a charm! Thanks again. :)

[2022-11-07 23:52] LucilleH commented on #261
@itsmarkvm Would you mind changing `nodejs-18_x` to `nodejs` in `devbox.json` and try it again? Basically it is trying to match the node version defined in `devbox.json` to the detected node version in `package.json`. In this case it doesn't match, so it errors.

I know the current behavior is not ideal. In the future, we might look into creating a base image with all the packages you want in `dev

[2022-11-08 00:53] vsoch opened #267 "Adding a NUR (Nix User Repository!)"
Hi! I'd like to install packages from a NUR: https://nur.nix-community.org/repos/rseops/ and just doing `devbox add` didn't work.
I'm fairly new to this ecosystem, so apologizes in advance if I'm missing something obvious!

[code]
How do I tell devbox about this set of NUR repos? There are quite a few good packages there. Many thanks!

[2022-11-08 15:24] loreto commented on #267
Hi @vsoch ,

Thanks for making this suggestion. We currently only install packages from `nixpkgs` (https://search.nixos.org/packages).

But I could imagine supporting a notation like the one you outlined to allow installing packages from other sources as well. Let me discuss with the team to see what we can do.

Best,
Daniel

[2022-11-09 19:42] vsoch commented on #246
Is this still open / not added yet? I'm building devbox into a container and would hugely like this- I want to install stuffs without the shell! Do y'all need/want help?

[2022-11-09 22:24] vsoch commented on #246
okay I think I have a cheap workaround for this (at least to install in docker). You can basically do shell (and that will do the install) but then provide a command that will run and exit. For example in my Dockerfile I do:

[code]
which I think is what i see you doing above! But I agree it would be much nicer to have an intuitive "install" that does that without the user having to think about a

[2022-11-11 00:45] vsoch opened #279 "Generate a Generic Container?"
hey devbox! I was wondering - why not have a fallback container generation for "all other cases" that are outside python, go, etc? For example, if we use nixos/nix and then the best way to install devbox, and then initiative a shell with a command that exits (to install stuffs) it would be fairly straight forward to have that be the fallback - here is an example: https://github.com/rse-ops/devbox/

[2022-11-11 02:10] LucilleH commented on #279
Wow this is awesome. In fact, instead of the fallback scenario, this should be the default. cc @Lagoja

[2022-11-11 02:12] vsoch commented on #279
Thanks! The one thing I'd like to improve upon is to figure out a way to have a one liner "install the latest devbox" that will work in the container. If we use something like the above, we'd minimally want to expose the version as an `ARG` I think. Let me know if I can help! I would absolutely love to be able to do like:

[code]
in a directory with a devbox.json and magically get a container with

[2022-11-11 21:59] Lagoja commented on #279
I agree this should be the default behavior. I think having a way to get a generic container that has your packages + configuration installed could help a lot with portability. We'll add this as a task.

Thanks for suggesting @vsoch

[2022-11-11 22:00] Lagoja commented on #96
Included in version 0.1.1, with Nixpkg pinning

[2022-11-11 22:00] #96 closed

[2022-11-11 22:01] Lagoja commented on #214
Added a feature that can replicate this behavior in Devbox 0.1.1. See scripts + `devbox run`!

[2022-11-11 22:01] #214 closed

[2022-11-11 22:01] Lagoja opened #284 "Feature Request: Make package configuration easier with Recipes"
## Current Situation

Some packages (such as MariaDB, Apache, and NGINX) require configuration or special environment variables to work correctly with the Nix store + customer's devbox projects. For example -- [MariaDB's](https://github.com/jetpack-io/devbox-examples/blob/main/databases/mariadb) default installation with Nix requires users to specify where the PID and SOCK file should be stored, a

[2022-11-11 22:29] Lagoja commented on #248
Merged and shipped in release 0.1.1 with Nixpkg Commit Pinning

[2022-11-11 22:29] #248 closed

[2022-11-11 23:56] mikenikles commented on #214
Love it and already use it 😜

[2022-11-12 17:22] vsoch commented on #279
Heyo! I'm trying this out on a few computers (looking for issues) - right now on an older ubuntu and hit:

[code]
Going to keep debugging but want to keep you in the loop!

[2022-11-16 16:44] mohsenari commented on #246
@vsoch I agree that's a good workaround. We recently added `scripts` in devbox.json that you can run with `devbox run` command. With that in place we now have 3 ways of running a command in devbox:
1. `devbox shell`  and then run a command
2. `devbox shell -- <command>`
3. `devbox run <script>`

We're now working to make sure all three methods sets up the exact same shell environment. Right now th

[2022-11-17 20:47] itsmarkvm commented on #261
Sorry for the delayed response, that indeed did the trick. Thank you very much!

[2022-11-17 20:47] #261 closed

[2022-11-21 08:54] sophiabrandt commented on #248
Hello, I'm not familiar with NixOS/Nix, so all my knowledge comes from following the instructions in this README.

Could you clarify how to install a specific version with this workaround? What is the command that I need to run?

Thank you.

[2022-11-25 10:46] boothb opened #312 "Broken link in /docs/app/docs/guides/pinning_packages.md"
Hi,

when browsing the documentation at https://www.jetpack.io/devbox/docs/guides/pinning_packages/ I noticed the link to https://status.nixos.org/ is malformed.

I will create a pull request that hopefully fixes that. Thank you for creating Devbox!

[2022-11-25 20:26] gcurtis commented on #312
Fixed in #313.

[2022-11-25 20:26] #312 closed